[Unit]
Description=Sends data from GPIO to some Android device over adb
Documentation=https://github.com/MSOE-Supermileage/datacollector
After=network-online.target

[Service]
Environment=PYTHONOPTIMIZE=2
Type=idle
ExecStartPre=adb forward tcp:5001 tcp:5001
ExecStart=/usr/bin/env python3 -u /usr/local/src/datacollector/adb.py
ExecReload=/usr/bin/env python3 -u /usr/local/src/datacollector/adb.py
Restart=on-failure

[Install]
WantedBy=multi-user.target
