# author: austin hartline
# custom udev rule for hall-effect sensing arduino
# used for sensing wheel rotation derives wheel speed, rpm derives vehicle speed

# Wyatt's Arduino Uno, doesn't use standard USB controller
SUBSYSTEM=="tty", ATTRS{idVendor}=="1a86", ATTRS{idProduct}=="7523", SYMLINK+="hallarduino"
