# author: sean khodl
# custom udev rule for joule meter

# joule meter
# Using Uno specifications, not sure if this is exactly what we'll be using at this point. 
SUBSYSTEM=="tty", ATTRS{idVendor}=="1a86", ATTRS{idProduct}=="7523", SYMLINK+="joulearduino"
